@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #16161b;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
